<section class="section-1">
  <div class="logo">
    <img src="assets/img/logo/logo2.png" alt="Logo" width="15%" />
  </div>

  <!-- Botón hamburguesa para móvil -->
  <div class="menu-toggle" (click)="toggleMenu()">
    <i class="pi pi-bars"></i>
  </div>

  <div class="buttons" [class.active]="isMenuActive">
    <div class="flex"></div>
    <div class="social-links">
      <a href="#" aria-label="Facebook"><i class="pi pi-facebook"></i></a>
      <a href="#" aria-label="Twitter"><i class="pi pi-twitter"></i></a>
      <a href="#" aria-label="Instagram"><i class="pi pi-instagram"></i></a>
      <a href="#" aria-label="YouTube"><i class="pi pi-youtube"></i></a>
    </div>
    <div>
      <p-button (click)="showDialog('top')" icon="pi pi-search"></p-button>
    </div>
    <div class="buttons-right">
      <p-button icon="pi pi-phone" label="Contactenos" />
    </div>
  </div>
</section>

<section>
  <div class="menu">
    <ul>
      <li><a href="#" routerLinkActive="active">Inicio</a></li>
      <li><a href="#" routerLinkActive="active">Nosotros</a></li>
      <li><a href="#" routerLinkActive="active">Servicios</a></li>
      <li><a href="#" routerLinkActive="active">Contacto</a></li>
    </ul>
  </div>
</section>

<!-- Diálogo -->
<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [position]="position"
  class="modal"
>
  <div class="form-field form-field-large">
    <label for="search">Busqueda</label>
    <p-iconfield iconPosition="left" class="input-search">
      <p-inputicon>
        <i class="pi pi-search"></i>
      </p-inputicon>
      <input pInputText id="search" placeholder="Search" autocomplete="on" />
    </p-iconfield>
  </div>
  <div class="dialog-actions">
    <p-button label="Cancel" severity="secondary" (click)="visible = false" />
    <p-button label="Save" (click)="visible = false" />
  </div>
</p-dialog>
