.section-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .logo img {
    margin-left: 15px;
  }

  .buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
  }
}
