.card {
  width: 100%;
  height: 100%;
  // display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #fff;
  border-radius: 10px;
  // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 8px; // Bordes redondeados para la imagen
}

.product-item {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: relative; /* Aseguramos posición relativa aquí */
  display: flex;
  flex-direction: row;
  align-items: center;
}

// Contenedor de imagen
.product-image-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative; /* Posición relativa para contener el wrapper */
  z-index: 0;
}

// Contenedor de texto
.product-content {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  z-index: 1;
  color: white;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  filter: drop-shadow(2px 4px 6px black);
}

.product-details {
  width: 700px;
  display: flex;
  gap: 2%;
  font-size: larger;
}

.product-image-wrapper {
  position: relative;
  width: 100%;
  height: 600px; /* Altura fija para asegurar que se vea */
  overflow: hidden;
}

.product-image {
  display: block; /* Importante para mostrar la imagen correctamente */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(80%);
}

.product-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.product-name {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 700;
}

.product-price {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.25rem;
}

.product-actions {
  display: flex;
  flex-direction: row;
}

.cart-button {
  margin-left: 8px;
}

/* Para hacer que el carrusel ocupe el ancho completo */
:host ::ng-deep .p-carousel {
  width: 100%;
  position: relative;
}

:host ::ng-deep .p-carousel-container {
  width: 100%;
  display: flex;
  align-items: center;
}

:host ::ng-deep .p-carousel-item {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
}

:host ::ng-deep .p-carousel-items-container {
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

/* Aseguramos que los controles del carrusel estén por encima */
:host ::ng-deep .p-carousel-indicators,
:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
  z-index: 2;
  position: relative;
}

:host ::ng-deep .p-carousel-indicator-button:hover {
  background: #c1121f;
}

:host ::ng-deep .p-carousel-indicator-active .p-carousel-indicator-button {
  background: #c1121f;
}

:host ::ng-deep .p-carousel-indicator-list {
  margin-top: -40px;
  z-index: 1;

  & li > button {
    border: 0.1px solid #c1121f;
    background: white;
  }
}

:host ::ng-deep .p-button-secondary,
:host ::ng-deep .p-button-text {
  &:hover {
    background-color: #c1121f !important;
    color: #ffffff !important; // Color blanco para el texto

    .p-button-text,
    .p-button-secondary {
      color: #ffffff !important; // Color rojo para el icono
    }
  }

  // Estado activo (al hacer clic)
  &:active {
    background: #c1121f !important;

    .p-carousel-prev-icon,
    .p-carousel-next-icon {
      color: #ffffff !important;
    }
  }
}

:host ::ng-deep .p-carousel-content {
  max-height: 80vh !important;
}

/* Estilos para el diálogo y la imagen ampliada */
:host ::ng-deep .image-dialog {
  max-width: 90vw;
  max-height: 90vh;

  .p-dialog-content {
    padding: 0;
    overflow: hidden;
  }
}

.dialog-image-container {
  display: flex;
  flex-direction: row;
  align-items: start;

  .full-image {
    width: 100%;
    max-height: 40vh;
    object-fit: contain;
  }

  .image-details {
    padding: 8px;
    width: 100%;

    h3 {
      margin: 0 0 8px;
      font-weight: 600;
    }

    .price {
      font-size: 1.5rem;
      font-weight: 700;
      color: #2196f3;
    }

    .ver-mas-button {
      display: flex;
      justify-content: end;
    }
  }
}

/* Estilos responsivos */
@media (max-width: 1920px) {
  .dialog-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr; // Dos columnas iguales
    grid-template-rows: auto; // Una fila automática
  }
}

@media (max-width: 768px) {
  .product-item {
    flex-direction: column; // En móviles, apila verticalmente
  }

  .product-image-container,
  .product-content {
    width: 100%; // Ambos ocupan el ancho completo
  }

  .product-image-container {
    margin-bottom: 16px; // Añadimos separación entre imagen y texto
  }
}

@media (max-width: 576px) {
  .product-item {
    flex-direction: column; // En móviles, apila verticalmente
  }

  .product-image-container,
  .product-content {
    width: 100%; // Ambos ocupan el ancho completo
  }

  .product-image-container {
    margin-bottom: 16px; // Añadimos separación entre imagen y texto
  }
  .product-details {
    display: none; // Ocultamos detalles en pantallas pequeñas
  }
}

@media (max-width: 376px) {
  .product-item {
    flex-direction: column; // En móviles, apila verticalmente
  }

  .product-image-container,
  .product-content {
    width: 100%; // Ambos ocupan el ancho completo
  }

  .product-image-container {
    margin-bottom: 16px; // Añadimos separación entre imagen y texto
  }

  .product-details {
    display: none;
  }
}
