<div class="container">
  <header class="header">
    <app-header />
  </header>

  <section class="slider">
    <app-slider />
  </section>

  <main>
    <section class="section-secciones">
      <div class="secciones">
        <app-sections />
      </div>
    </section>

    <section class="section-cards">
      <div class="cards-1">
        <app-card-national />
      </div>

      <div class="cards-2">
        <app-card-international />
      </div>

      <div class="cards-3">
        <app-card-relevant />
      </div>
    </section>

    <section class="section-publicidad">
      <div class="publicidad">
        <app-publicidad />
      </div>
    </section>
    <div class="cards-4">
      <app-card-new />
    </div>
    <div class="cards-4">
      <app-notice-1 />
    </div>
    <div class="cards-4">
      <app-notice-2 />
    </div>
    <section>
      <div></div>
    </section>
  </main>

  <footer class="footer">
    <app-footer />
  </footer>
</div>
