<!-- From Uiverse.io by joe-watson-sbf -->
<section class="card">
  <div
    [class.expanded]="expandedIndex === 0"
    (click)="toggleItem(0, $event)"
  >
    <img src="assets/img/8.png" alt="Logo" width="20%" />
    <p>Principal</p>
  </div>
  <div [class.expanded]="expandedIndex === 1" (click)="toggleItem(1, $event)">
    <img src="assets/img/9.png" alt="" width="20%" />
    <p>Relevantes</p>
  </div>
  <div [class.expanded]="expandedIndex === 2" (click)="toggleItem(2, $event)">
    <img src="assets/img/10.png" alt="" width="20%" />
    <p>Nacionales</p>
  </div>
  <div [class.expanded]="expandedIndex === 3" (click)="toggleItem(3, $event)">
    <img src="assets/img/5.png" alt="" width="20%" />
    <p>Internacionales</p>
  </div>
  <div [class.expanded]="expandedIndex === 4" (click)="toggleItem(4, $event)">
    <img src="assets/img/12.jpg" alt="" width="20%" />
    <p>Videos</p>
  </div>
</section>
