<header class="header">
  <app-header />
</header>

<main>
  <section class="slider">
    <div>
      <app-slider />
    </div>
  </section>

  <section class="section-hero">
    <div class="img-section">
      <img src="assets/img/sections.png" alt="Logo" width="40%" />
    </div>
    <div>
      <p-card>
        <app-seccion-1 />
      </p-card>
    </div>
  </section>

  <section class="section-news">
    <div class="img-news">
      <img src="assets/img/logo/news2.png" alt="Noticias" width="40%" />
    </div>
    <div class="notice-primary">
      <p-card>
        <app-news />
      </p-card>
    </div>
  </section>

  <section class="publicity">
    <app-publicity />
  </section>

  <section>
    <div class="news-title">
      <div>
        <img src="assets/img/logo/newspaper.png" alt="" width="40%" />
      </div>
    </div>
    <div class="notice-secondary">
      <div class="scrollable-content">
        <p-card>
          <app-news-infinite />
        </p-card>
      </div>
    </div>
  </section>

  <section class="cta">
    <app-publicity />
  </section>
</main>

<footer class="footer">
  <app-footer />
</footer>
