<header class="header">
  <app-header />
</header>

<main>
  <section class="slider">
    <app-slider />
  </section>

  <section class="sections">
    <div>
      <app-seccion-1 />
    </div>
    <div>
      <app-seccion-2 />
    </div>
    <div>
      <app-seccion-3 />
    </div>
  </section>

  <section class="notice-primary">
    <div>
      <app-notice-1 />
    </div>
    <div>
      <app-notice-2 />
    </div>
    <div>
      <app-notice-3 />
    </div>
  </section>

  <section class="publicity">
    <app-publicity />
  </section>

  <section class="notice-secondary">
    <div>
      <app-notice-4 />
    </div>
    <div>
      <app-notice-5 />
    </div>
    <div>
      <app-notice-6 />
    </div>
  </section>

  <section class="cta">
    <app-cta />
  </section>
</main>

<footer class="footer">
  <app-footer />
</footer>
