@use "sass:color";

// Variables
$color-primary: #f0f0f0;
$color-header: #333;
$color-cards: #ffffff;
$color-dark: #333;
$color-light: #fff;
$primary-accent: #0056b3;
$secondary-accent: #c1121f;

$spacing: 20px;
$spacing-base: 1rem;
$max-width: 100%;
$border-radius: 8px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

// Mixins
@mixin flex-layout(
  $direction: row,
  $wrap: wrap,
  $justify: flex-start,
  $align: stretch
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin section-base {
  padding: $spacing-base;
  margin-bottom: $spacing-base;
  border-radius: $border-radius;
}

// Base styles
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; // Evita el scroll horizontal
  box-sizing: border-box; // Incluye el padding y el borde en el ancho y alto total
}

body {
  font-family: "Arial", sans-serif;
  color: $color-dark;
  background-color: $color-light;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Layout structure
.header {
  width: 100%;
  background-color: $color-header;
  color: $color-light;
  padding: calc($spacing / 2);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: $box-shadow;
  border-radius: 0 0 20px 20px;
}

main {
  @include flex-layout(column, wrap, flex-start, stretch);
  max-width: $max-width;
  margin: 0 auto;
  padding: calc($spacing / 2);
  gap: $spacing;
  flex-grow: 1;
  width: 100%;

  // Slider section
  .slider {
    width: 100%;
    height: 60vh;
    margin-bottom: $spacing-base;
    border-radius: $border-radius;
    overflow: hidden;
    // background-color: $color-primary;
    // padding: calc($spacing / 2);
  }

  // Sections con distribución personalizada
  .section {
    @include section-base;
    display: grid;
    grid-template-columns: repeat(1, 1fr); // 6 columnas de igual tamaño
    grid-template-rows: auto auto; // 2 filas de altura automática
    width: 100%;
    gap: $spacing;
    background-color: $color-light;

    > div {
      min-height: 300px;
      background-color: $color-cards;
      border-radius: $border-radius;
      padding: calc($spacing / 2);
    }
  }

  // Notice primary con 3 divisiones iguales
  .notice-primary {
    @include section-base;
    display: flex;
    width: 100%;
    gap: $spacing;

    > div {
      flex: 1;
      min-height: 150px;
      background-color: $color-cards;
      border-radius: $border-radius;
      padding: calc($spacing / 2);
      box-shadow: $box-shadow;
    }
  }

  // Publicity - ancho completo
  .publicity {
    @include section-base;
    width: 100%;
    background-color: $color-cards;
    min-height: 200px;
    padding: calc($spacing / 2);
    border-radius: $border-radius;
    box-sizing: border-box;
    // box-shadow: $box-shadow;
  }

  .news-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: start;
    color: var(--text-color);

    > div {
      display: flex;
      align-items: center;
      grid-column: 1 / span 2;
    }
  }

  .img-news {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .img-section {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  // Notice secondary con 3 divisiones iguales
  .notice-secondary {
    @include section-base;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    max-height: 220vh;
    gap: $spacing;

    > div {
      // Eliminar flex: 1 ya que estamos usando grid
      min-height: 150px;
      max-height: 220vh; // Usar vh en lugar de rem para una altura relativa
      background-color: $color-cards;
      border-radius: $border-radius;
      padding: calc($spacing / 2);
      box-shadow: $box-shadow;

      // Configuración correcta del scroll
      overflow-y: auto; // auto en lugar de scroll para mostrar barras solo cuando sea necesario
      scroll-behavior: contain;
      scrollbar-width: thin;
      scrollbar-color: $secondary-accent $color-light;

      // Evitar que el contenido interno se desborde horizontalmente
      > * {
        max-width: 100%;
      }

      > .scrollable-content {
        width: 100%;
        height: auto; // La altura se ajusta al contenido

        // Prevenir desbordamiento horizontal
        > * {
          max-width: 100%;
        }
      }

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: $color-light;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: $secondary-accent;
        border-radius: 4px;
      }
    }

    > div:nth-child(1) {
      grid-column: 2 / span 8;
      grid-row: 1;
    }
  }

  // Call to action
  .cta {
    @include section-base;
    width: 100%;
    background-color: $color-cards;
    color: $color-dark;
    text-align: center;
    padding: $spacing;
    min-height: 100px;
    box-shadow: $box-shadow;
  }
}

.footer {
  width: 100%;
  background-color: $color-header;
  color: $color-light;
  padding: $spacing;
  margin-top: $spacing;
  min-height: 10vh;
}

@media (max-width: 1920px) {
  main {
    .slider {
      height: 45vh;
    }

    .section-news {
      margin-top: 5%;
    }

    .sections,
    .notice-primary,
    .notice-secondary {
      > div {
        padding: calc($spacing / 2);
      }
    }
  }
}

// Media queries for responsive design

@media (max-width: 1440px) {
  .img-section {
    width: 100%;
    img {
      width: 70%;
    }
  }

  main {
    .slider {
      height: 50vh;
    }

    .section-news {
      margin-top: 5%;
    }

    .sections,
    .notice-primary,
    .notice-secondary {
      > div {
        padding: calc($spacing / 2);
      }
    }
  }
}

@media (max-width: 1360px) {
  .img-section {
    width: 100%;
    img {
      width: 70%;
    }
  }
}

@media (max-width: 1280px) {
  main {
    .slider {
      height: 60vh;
    }

    .img-section{
      img {
        width: 80%;
      }
    }
    .notice-primary,
    .notice-secondary {
      > div {
        padding: calc($spacing / 2);
      }
    }
  }
}



@media (max-width: 992px) {
  .img-section {
    img {
      width: 70%;
    }
  }

  main {
    .slider {
      height: 70vh;
    }
    .sections,
    .notice-primary,
    .notice-secondary {
      > div {
        padding: calc($spacing / 2);
      }
    }
  }
}

@media (max-width: 1024px) {
  .img-section {
    width: 100%;
    img {
      width: 70%;
    }
  }

  main {
    .slider {
      height: 70vh;
    }

    .notice-primary {
      width: 87%;
    }

    .notice-secondary,
    .publicity,
    .cta {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  main {
    gap: $spacing-base;

    .slider {
      height: 100%;
    }

    .section-hero {
      width: 100%;
    }

    .notice-primary {
      width: 23%;
      padding: 0 !important;
    }

    .sections,
    .notice-primary,
    .notice-secondary {
      flex-direction: column;

      > div {
        width: 100%;
      }
    }
  }
}

@media (max-width: 576px) {
  .img-section {
    width: 100%;
  }

  main {
    padding: calc($spacing-base * 0.5);

    .slider {
      height: 100%;
    }

    .img-section {
      img {
        width: 70%;
      }
    }

    .sections,
    .notice-primary,
    .notice-secondary,
    .publicity,
    .cta {
      padding: calc($spacing-base * 0.75);
    }
  }
}

@media (max-width: 376px) {
  .img-section {
    margin-top: 10px !important;
    img {
      width: 90% !important;
    }
  }
  main {
    .slider {
      height: 60vh;
    }
    .sections,
    .notice-primary,
    .notice-secondary {
      > div {
        padding: calc($spacing / 2);
      }
    }
  }
}

:host ::ng-deep .p-card {
  background-color: $color-cards; // Fondo semitransparente
  border-radius: 8px; // Bordes redondeados
  border: none;
  box-shadow: none;
  color: $color-dark;
}
