<header class="header">
  <app-header />
</header>

<main>
  <section>
    <div class="slider">
      <app-slider />
    </div>
  </section>

  <section class="sections">
    <div>
      <p-card header="Sección 1">
        <app-seccion-1 />
      </p-card>
    </div>
    <div>
      <p-card header="Sección 2">
        <app-seccion-2 />
      </p-card>
    </div>
    <div>
      <p-card header="Sección 3">
        <app-seccion-3 />
      </p-card>
    </div>
  </section>

  <section class="notice-primary">
    <div>
      <p-card>
        <app-news />
      </p-card>
    </div>
  </section>

  <section class="publicity">
    <app-publicity />
  </section>

  <section class="notice-secondary">
    <div>
      <p-card header="Noticia 4">
        <app-notice-4 />
      </p-card>
    </div>
    <div>
      <p-card header="Noticia 5">
        <app-notice-5 />
      </p-card>
    </div>
    <div>
      <p-card header="Noticia 6">
        <app-notice-6 />
      </p-card>
    </div>
    <div></div>
    <div></div>
    <div></div>
  </section>

  <section class="cta">
    <app-cta />
  </section>
</main>

<footer class="footer">
  <app-footer />
</footer>
